@model  SampleApiConsumer.Models.ReportIframe
@{
    ViewBag.Title = "Report Detail ";
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/powerbi.js"></script>

<div id="embedArea">
    <div class="form-group pull-right">
        <div class="btn btn-default back">
            @Html.ActionLink("Back", "Index", "ReportsController", new { @class = "btn btn-dark" , Area=""})
        </div>
    </div>
    <div class="editorTitle">
        <div class="editorTitleText">Sample report<span> (select prefered dispaly mode)</span></div>
        <div id="modeSelector" style="float:left;">
                <input type="radio" name="embedMode" onclick="openViewMode();" value="view" checked="checked"> View  
                <input type="radio" name="embedMode" onclick="openEditMode();" value="edit"> Edit 
        </div>
    </div>
    <div id="reportContainer" style="height:850px; width:100%"></div>
</div>

<script type="text/javascript">
    var txtAccessToken = "@Model.AccessToken";

    // Read embed URL from textbox
    var txtEmbedUrl = "@Model.EmbedUrl";

    // Read report Id from textbox
    var txtEmbedReportId = "@Model.ReportId";

    var models = window['powerbi-client'].models;
    var permissions = models.Permissions.All;
    var config = {
        type: 'report',
        accessToken: txtAccessToken,
        embedUrl: txtEmbedUrl,
        id: txtEmbedReportId,
        permissions: permissions,
        settings: {
            filterPaneEnabled: true,
            navContentPaneEnabled: true
        }
    };

    var reportContainer = $('#reportContainer')[0];

    // Embed the report and display it within the div container.
    var report = powerbi.embed(reportContainer, config);

    // Report.off removes a given event handler if it exists.
    report.off("loaded");

    // Report.on will add an event handler which prints to Log window.
    report.on("loaded", function () {
        console.log("Loaded");
    });

    report.on("error", function (event) {
    });

    report.off("saved");
    report.on("saved", function (event) {
       
    });

    function openViewMode() {
        config.viewMode = models.ViewMode.View;
        report = powerbi.embed(reportContainer, config);
        report.on("loaded", function () {
            console.log("Loaded");
        });
    }
    function openEditMode() {
        config.viewMode = models.ViewMode.Edit;
        report = powerbi.embed(reportContainer, config);
        report.on("loaded", function () {
        });
    }
</script>