@model SampleApiConsumer.Models.ODataReports
@{
    ViewBag.Title = "Index";
}

<body style="background-color:#f7f7f7">
<div class="container-fluid body-content body-content">
    <br />
    <br />
    <div class="row reports">
        @foreach (var report in Model.Items)
        {
            <div class="col-md-3 col-sm-10">
                <div class="product">
                    <h4 id="panel-report-title">@report.Name<a class="anchorjs-link" href="/Reports/Detail?id=@report.Id"><span class="anchorjs-icon"></span></a></h4>
                    <br />
                    <p class="report-contents">
                        <img src='@Url.Content(report.ThumbnailImageUrl)' alt='@report.Name' onclick="location.href='/Reports/Detail?id=@report.Id';" />
                    </p>
                    <span style="margin-top:15px;" id="panel-title-description">@report.Description<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></span>
                    <p class="view-btn">
                        <a href="/Reports/Detail?id=@report.Id" class="btn btn-success" role="button">View</a>
                    </p>
                </div>
            </div>
        }
        </div>
    </div>
</body>