body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background: url(/Content/Images/Header.png) repeat-x center center;
    height: 61px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FAFAFA;
}

.container {
    margin-left: 0px;
}

a.navbar-brand {
    margin-top: -6px;
}

ul.nav.navbar-nav {
    margin-top: 9px;
}

h2.report-page-title {
    font-family: OpenSans;
    color: #312772;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}

div.container-fluid.body-content {
    padding-left: 170px;
    padding-right: 170px;
}

h4#panel-report-title {
    font-family: OpenSans;
    color: #4d5058;
    font-size: 17px;
    text-align: left;
    margin-left: 25px;
    font-weight: bold;
    margin-bottom: 0px!important;
}

.label.label-default.report {
    height: 12px;
    font-family: OpenSans;
    color: #4d5058;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    background: #dddddd;
    border-radius: 14px;
}

.editorTitle {
    margin-left: 20px;
}

.editorTitleText {
    padding-top: 20px;
    font-weight: bold;
}

.editorTitleText > span {
    font-weight: normal;
    font-size: 12px;
}

#embedArea {
    padding-left: -150px !important;
    padding-right: -150px !important;
}

.product a img:hover {
    background-color: #fff;
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}

.product {
    float: left;
    position: relative;
    width: 270px;
    height: 279px;
    padding: 0;
    margin: 18px;
    background-color: #fff;
}

.panel-title {
    text-align: left;
    font-size: 24px;
}

.product img {
    width: 220px;
    height: 200px;
    border: 0 none;
    cursor: pointer;
    margin-left: 25px;
}

.product img:hover {
    background-color: rgba(98, 168, 234, 0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}

p.report-contents{
    margin:0;
}
span#panel-title-description {
    margin-left:10px;
    margin-top: 10px !important;
    margin-bottom:10px !important;
    display: inline-block;
}

p.view-btn {
    margin-top: 10px;
}

.btn.btn-default.back {
    padding: 0px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #d21559;
}

a.btn.btn-dark {
    color: #fff!important;
}