@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="container-fluid body-content body-content">
    <div class="row">
        <div class="col-md-12">
            <span id="panel-report-title">Power BI Reports</span>
            <p>
                This is a sample, and its purpose is to prove how the  api can be consumed in an application
            </p>
            <p>
                This sample is written in ASP.NET MVC, but can be written in any other programing language 
            </p>
            <h4>Use</h4>
            <p>
                Navigate to the reports page, and you will see all your tenant reports published in the  context.
            </p>
            <p>
                Select view, and you will see the power bi report embedded in an html page. 
            </p>
        </div>
    </div>
</div>